**secret**
**private**
.remote*
.vs
**node_modules**
**data*.json
*[a-zA-Z][0-9].*


/admin
__**
**Copy**
**kopie**

**.mp4
**.log
**.pdf
**.zip


**.jpg
**.gif
**.doc
**.docx

*test*

**dcu**
**~**
**sitemap**
**desktop**
cert/**
/js/min
/api/sql
/app
/inc
/sites
/wav
/aim
/aim-connect
/aim-api
/test
/dev
/tmp
/google**
/**htaccess**
